<template>
  <div>
    <h2>Paused</h2>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

@Component
export default class Popup extends Vue {}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
div {
  width: 200px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -35px 0 0 -100px;

  color: white;
  background: #575757b4;
  border-radius: 25px;

  pointer-events: none;
}
</style>
