<template>
  <div>
    <Canvas ref="canvas"
      @mouseup.native="handleMouseUp"
      @keyup.native="handleKeyUp"
      >
    </Canvas>
    <Popup v-if="sharedState.paused"></Popup>
    <resize-observer @notify="handleResize" />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { vec2, vec3, mat4 } from "gl-matrix";
import { GLUtils, Camera, CameraMover } from "ts-graphics";
import VMP from "@/vmp/VMP";
import SimRunner from "@/engine/SimRunner";
import SharedState from "@/engine/SharedState";
import Canvas from "@/components/Canvas.vue";
import Popup from "@/gui/Popup.vue";
import "fpsmeter";

const AirWavesProps = Vue.extend({
  props: {
    sharedState: SharedState,
    simRunner: SimRunner
  }
});

@Component({
  components: {
    Canvas,
    Popup
  }
})
export default class AirWaves extends AirWavesProps {
  private glUtils: null | GLUtils = null;

  private VMP: null | VMP = null;

  private fpsMeter: FPSMeter = new FPSMeter(undefined, {
    theme: "transparent",
    heat: 1,
    graph: 1
  });

  mounted(): void {
    const canvas: Canvas = <Canvas>this.$refs.canvas;
    this.glUtils = new GLUtils(canvas.glContext);

    this.VMP = new VMP(this.glUtils);

    this.sharedState.cameraMover.offsetFromAnchor = 5;
    this.sharedState.paused = true;

    this.handleResize();
  }

  updateVMP(): void {
    (<VMP>this.VMP).update(<SharedState>this.sharedState);
  }

  renderVMP(): void {
    const gl: WebGLRenderingContext = (<GLUtils>this.glUtils).getContext();
    gl.clear(gl.COLOR_BUFFER_BIT | gl.DEPTH_BUFFER_BIT);
    gl.viewport(0, 0, gl.drawingBufferWidth, gl.drawingBufferHeight);
    (<VMP>this.VMP).render(this.sharedState);
    this.fpsMeter.tick();
  }

  handleResize(): void {
    const canvas: Canvas = <Canvas>this.$refs.canvas;
    canvas.resize();

    this.sharedState.cameraMover.camera.aspectRatio =
      canvas.width() / canvas.height();

    this.renderVMP();
  }

  handleMouseUp(event: MouseEvent): void {
    if (event.defaultPrevented) {
      return; // Do nothing if the event was already processed
    }

    if (event.button === 0) {
      this.sharedState.paused = !this.sharedState.paused;
      (<VMP>this.VMP).paused = this.sharedState.paused;
    }
  }

  handleKeyUp(event: KeyboardEvent): void {
    if (event.defaultPrevented) {
      return; // Do nothing if the event was already processed
    }

    if (event.key === "p") {
      this.sharedState.paused = !this.sharedState.paused;
      (<VMP>this.VMP).paused = this.sharedState.paused;
    }
  }

  $refs!: {
    canvas: Canvas;
  };
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
div {
  width: 100%;
  height: 100%;
  background-color: black;
}
</style>
