<template>
  <canvas id="canvas" tabindex="1">
    HTML5 canvas is not supported in this browser :(
  </canvas>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { vec2 } from "gl-matrix";

@Component
export default class GameLoopCanvas2d extends Vue {
  private gl: null | WebGLRenderingContext = null;

  mounted(): void {
    const canvas: HTMLCanvasElement = <HTMLCanvasElement>this.$el;
    const options: WebGLContextAttributes = { preserveDrawingBuffer: true };
    this.gl = canvas.getContext("webgl", options);

    if (!this.gl) {
      throw new Error("Failed to initialise WebGL");
    }

    canvas.focus();

    canvas.width = canvas.clientWidth;
    canvas.height = canvas.clientHeight;
  }

  get glContext(): WebGLRenderingContext {
    return <WebGLRenderingContext>this.gl;
  }

  width(): number {
    return (<HTMLCanvasElement>this.$el).clientWidth;
  }

  height(): number {
    return (<HTMLCanvasElement>this.$el).clientHeight;
  }

  resize(): void {
    const canvas: HTMLCanvasElement = <HTMLCanvasElement>this.$el;
    canvas.width = canvas.clientWidth;
    canvas.height = canvas.clientHeight;
  }

  getScreenPos(event: MouseEvent): vec2 | null {
    const x: number = event.clientX;
    const y: number = event.clientY;
    if (x !== undefined && y !== undefined) {
      return vec2.fromValues(x, y);
    }
    return null;
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
canvas {
  width: 100%;
  height: 100%;
  background-color: black;
}
</style>
