<template>
  <div id="app">
    <AirWaves ref="airWaves"
      :simRunner=simRunner
      :sharedState=sharedState
      ></AirWaves>
    <!-- <GUI></GUI> -->
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import AirWaves from "@/components/AirWaves.vue";
import SimRunner from "@/engine/SimRunner";
import SharedState from "@/engine/SharedState";

@Component({
  components: {
    AirWaves
  }
})
export default class App extends Vue {
  private simRunner: SimRunner;
  private sharedState: SharedState;

  constructor() {
    super();
    this.simRunner = new SimRunner(() => {}, () => {});
    this.sharedState = this.simRunner.sharedState;
  }

  mounted() {
    const airWaves = <AirWaves>this.$refs.airWaves;

    this.simRunner.updateFunction = airWaves.updateVMP.bind(airWaves);
    this.simRunner.renderFunction = airWaves.renderVMP.bind(airWaves);

    this.simRunner.runLoop();
  }

  $refs!: {
    airWaves: AirWaves;
  };
}
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: black;
  width: 100vw;
  height: 100vh;
}
</style>
